<div class="jumbotron">
  <div class="text-center" ng-controller="CryptoController" data-ng-init="getCryptoCurrencyList()" ng-if="auth.isAuthenticated()">

    <div ng-controller="ChartController" class="chart-controller" ng-if="crypto_list">

      <div class="highcharts_wrapper">
        <highcharts-column class="chart" ng-class="{'active': isActive}" categories="{{myCategories}}" series="{{mySeries}}"></highcharts-column>
      </div>

      <ul>

        <li ng-click='getCryptoCurrencyDetail(crypto.id)' class='crypto_item' dir-paginate="crypto in crypto_list | itemsPerPage: pageSize" current-page="currentPage">
            <img class="crypto_icon" preload-image ng-src="https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/color/{{crypto.symbol | lowercase}}.png" default-image="https://d30y9cdsu7xlg0.cloudfront.net/png/1094659-200.png" fallback-image="https://d30y9cdsu7xlg0.cloudfront.net/png/106184-200.png" alt="{{crypto.symbol}}" />
            <!--<a target="_blank" title="Visit {{crypto.name}} website" href="http://{{crypto.website_slug}}.com"></a>-->
            {{crypto.name}}
        </li>

        <li class="clear"></li>
      </ul>

      <div ng-controller="OtherController" class="other-controller" data-ng-init="init()">

         <div class="text-center">
           <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
         </div>
       </div>

  </div>

     <button ng-if="crypto_list" type="button" class="btn btn-primary" ng-csv="crypto_list" filename="crypto_currencies.csv">Export all as CSV</button>

  </div>

  <br />
  <div class="text-center" ng-if="!auth.isAuthenticated()">
    <p>You are not yet authenticated. <a ng-click="auth.login()">Log in.</a></p>
  </div>

  <div class="text-center" ng-if="auth.isAuthenticated()">
    <a ng-click="auth.logout()">Log out.</a></p>
  </div>

</div>
